@model YedideyChabad.ViewModels.SideMenu
@using YedideyChabad.Code

    @*  <!----  side toolbar  -----> *@
@{    
    if (Model.StartPage)
    {
        <div>
            <a href='@Url.Action("Index", "Start")' class="ico-font-con icon-flag"><span>ראשי</span></a>
        </div>        
        <div class="seperator"></div>
    }

    if (Model.AddMember)
    {
        <div>
            <a href='@Url.Action("Index", "YadidMain", new { id = Constants.KEY_ADD_NEW })' class="ico-font-con icon-adduser"><span>חדש</span></a>
        </div>        
    }

    if (Model.AddChild)
    {
        <div>   
            <a href='@Url.Action("Index", "Child", new { id = Constants.KEY_ADD_NEW })' class="ico-font-con icon-addchild"><label>+</label><span>ילד</span></a>
        </div>                
    }
    <div class="seperator"></div>

    if (Model.AllMembers)
    {
        <div class="action">
            <a href='@Url.Action("GetAll", "Start")' class="ico-font-con icon-allusers"><span>כולם</span></a>
        </div>
    }

    if (Model.Member)
    {
        <div class="action">
            <a href='@Url.Action("Select", "Start", new { member = Globals.SelectedMemberId })' class="ico-font-con icon-user"><span>ידיד</span></a>
        </div>	                            
    }

    if (Model.Children)
    {
        <div class="action">
            <a href='@Url.Action("GetChildren", "Child")' class="ico-font-con icon-child"><span>ילדים</span></a>
        </div>		         
    }
}

