@model IEnumerable<YedideyChabad.Models.Yadid>
@using YedideyChabad.ViewModels

@{
    ViewBag.Title = "Show All";
    Layout = "~/Views/Shared/_Layout-Loggedin.cshtml";
}

@*<h2>@ViewBag.Title</h2>*@
<table class="tabular-data">
    <tr>
        <td class="side-toolbar">
            @Html.Partial("_Loggedin-Side-Menu", new YedideyChabad.ViewModels.SideMenu())
        </td>
        <td class="page-content">
            <table>
      
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneCellular)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th></th>
                </tr>

            @foreach (var item in Model) {
                <tr>
                    <td class="table-select">
                        @*@Html.ActionLink("Select", "Select", new { id=item.Id })*@
                        <a href='@Url.Action("Select", "Start", new { member=item._id })' class="ico-font-con icon-view"></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
       
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneCellular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="delete-member">
                        <a href='' onclick="return false;" itemid="@item._id" class="ico-font-con icon-delete"></a>
                        @*<a href='@Url.Action("Delete", "YadidMain", new { id=item.Id })' class="ico-font-con icon-delete"></a>*@
                    </td>
                </tr>
            }

            </table>            
        </td>
    </tr>
</table>

