@model IEnumerable<Yedidim.Models.Child>
@using Yedidim.ViewModels

@{
    ViewBag.Title = "GetChildren";
    Layout = "~/Views/Shared/_Layout-Loggedin.cshtml";
}

@*<h2>GetChildren</h2>*@

@Html.Partial("_ActionsMenu", new ActionsMenu{ UseruName = true })

<table class="tabular-data">
    <tr>
        @*<th></th>*@
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday_Jewish)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday_Greg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
        <th></th>
        
    </tr>

@foreach (var item in Model) {

    using (Html.BeginForm("UpdateChild", "Child", new { id = item.Id }, FormMethod.Post, new { @id = "childform" + item.Id }))
    {
    <tr>
        @*<td class="table-select">
            <a href='@Url.Action("Select", "Start", new { id=item.Id })' class="ico-font-con icon-view"></a>
        </td>*@
        <td>
            @Html.TextBoxFor(modelItem => item.Name, new { disabled = "disabled" })
            @Html.ValidationMessageFor(modelItem => item.Name)
        </td>
        <td>            
            @Html.TextBoxFor(modelItem => item.Birthday_Jewish, new { disabled = "disabled" })
            @Html.ValidationMessageFor(modelItem => item.Birthday_Jewish)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday_Greg)    
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.Age, new { disabled = "disabled" })
            @Html.ValidationMessageFor(modelItem => item.Age)
        </td>
        <td>
            @Html.TextBoxFor(modelItem => item.Comments, new { disabled = "disabled" })
            @Html.ValidationMessageFor(modelItem => item.Comments)
        </td>
        <td>
             <a href='' class="ico-font-con icon-edit"></a>
        </td>
        <td>
            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            <a href='' onclick="return false;" itemid="@item.Id" class="ico-font-con icon-delete"></a>
        </td>

    </tr>
    }
}

</table>