@model Yedidim.Models.Yadid

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Yadid</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Gender)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Gender)
            @Html.ValidationMessageFor(model => model.Gender)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DescendantName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DescendantName)
            @Html.ValidationMessageFor(model => model.DescendantName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Birthday_Jewish)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Birthday_Jewish)
            @Html.ValidationMessageFor(model => model.Birthday_Jewish)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Birthday_Greg)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Birthday_Greg)
            @Html.ValidationMessageFor(model => model.Birthday_Greg)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhoneCellular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PhoneCellular)
            @Html.ValidationMessageFor(model => model.PhoneCellular)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PositionAtWork)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PositionAtWork)
            @Html.ValidationMessageFor(model => model.PositionAtWork)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Hobby)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Hobby)
            @Html.ValidationMessageFor(model => model.Hobby)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Personalty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Personalty)
            @Html.ValidationMessageFor(model => model.Personalty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comments)
            @Html.ValidationMessageFor(model => model.Comments)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MerigeDate_Greg)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MerigeDate_Greg)
            @Html.ValidationMessageFor(model => model.MerigeDate_Greg)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MerigeDate_Jewish)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MerigeDate_Jewish)
            @Html.ValidationMessageFor(model => model.MerigeDate_Jewish)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumOfChildren)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumOfChildren)
            @Html.ValidationMessageFor(model => model.NumOfChildren)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumOfChildrenForActivities)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumOfChildrenForActivities)
            @Html.ValidationMessageFor(model => model.NumOfChildrenForActivities)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tradition)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tradition)
            @Html.ValidationMessageFor(model => model.Tradition)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FamilyComments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FamilyComments)
            @Html.ValidationMessageFor(model => model.FamilyComments)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Home_Street)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Home_Street)
            @Html.ValidationMessageFor(model => model.Home_Street)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Home_Number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Home_Number)
            @Html.ValidationMessageFor(model => model.Home_Number)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Home_Entrance)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Home_Entrance)
            @Html.ValidationMessageFor(model => model.Home_Entrance)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Home_EconomicStatus)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Home_EconomicStatus)
            @Html.ValidationMessageFor(model => model.Home_EconomicStatus)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Home_Comments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Home_Comments)
            @Html.ValidationMessageFor(model => model.Home_Comments)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Home_Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Home_Phone)
            @Html.ValidationMessageFor(model => model.Home_Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PartnerFirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PartnerFirstName)
            @Html.ValidationMessageFor(model => model.PartnerFirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PartnerLastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PartnerLastName)
            @Html.ValidationMessageFor(model => model.PartnerLastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PartnerGender)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PartnerGender)
            @Html.ValidationMessageFor(model => model.PartnerGender)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PartnerDescendantName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PartnerDescendantName)
            @Html.ValidationMessageFor(model => model.PartnerDescendantName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PartnerBirthday_Jewish)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PartnerBirthday_Jewish)
            @Html.ValidationMessageFor(model => model.PartnerBirthday_Jewish)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PartnerBirthday_Greg)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PartnerBirthday_Greg)
            @Html.ValidationMessageFor(model => model.PartnerBirthday_Greg)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PartnerPhoneCellular)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PartnerPhoneCellular)
            @Html.ValidationMessageFor(model => model.PartnerPhoneCellular)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PartnerEmail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PartnerEmail)
            @Html.ValidationMessageFor(model => model.PartnerEmail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PartnerPositionAtWork)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PartnerPositionAtWork)
            @Html.ValidationMessageFor(model => model.PartnerPositionAtWork)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PartnerHobby)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PartnerHobby)
            @Html.ValidationMessageFor(model => model.PartnerHobby)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PartnerPersonalty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PartnerPersonalty)
            @Html.ValidationMessageFor(model => model.PartnerPersonalty)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PartnerComments)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PartnerComments)
            @Html.ValidationMessageFor(model => model.PartnerComments)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
