<<<<<<< HEAD
﻿@model YedideyChabad.Models.LoginModel

@{
    ViewBag.Title = "התחברות";
}
<div  style="direction:rtl;">
<h1>@ViewBag.Title</h1>
<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        
        <ul>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li style="display: block;">
                @Html.CheckBoxFor(m => m.RememberMe)
                <label class="checkbox" for="RememberMe">זכור אותי?</label>
            </li>
        </ul>
        <input type="submit" value="הכנס" />
    </fieldset>
    
    @*
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>*@
}
</section>

@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
=======
﻿@model YedideyChabad.Models.LoginModel

@{
    ViewBag.Title = "התחברות";
}
<div style="direction:rtl;">
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                <label>שם משמתמש</label>
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                <label>סיסמא</label>
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="כניסה" />
    </fieldset>

}
</section>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
>>>>>>> 0c8113f056bc7568261c5e7422df4fa1bb8b0ba5
