@model Yedidim.Models.Child

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout-Loggedin.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Child</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Birthday_Jewish)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Birthday_Jewish)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Birthday_Greg)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Birthday_Greg)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Age)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Age)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comments)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comments)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.YedidId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.YedidId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
