@model IEnumerable<YedideyChabad.Models.Child>
@using YedideyChabad.ViewModels

@{
    ViewBag.Title = "GetChildren";
    Layout = "~/Views/Shared/_Layout-Loggedin.cshtml";
}

<table class="tabular-data">
    <tr>
        <td class="side-toolbar">
             @Html.Partial("_Loggedin-Side-Menu", new YedideyChabad.ViewModels.SideMenu{Member = true, AllMembers = true, Children= true, AddChild = true })
        </td>
        <td class="page-content">
            @Html.Partial("_ActionsMenu", new ActionsMenu{ UseruName = true })

            <table>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Birthday_Jewish)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Birthday_Greg)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Age)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Comments)
                    </th>

                    <th></th>
        
                </tr>

            @foreach (var item in Model) {
                <tr>
                    <td class="table-select">
                        <a href='@Url.Action("Index", "Child", new { id = item._id })' class="ico-font-con icon-view"></a>
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.Name, new { disabled = "disabled" })
                        @Html.ValidationMessageFor(modelItem => item.Name)
                    </td>
                    <td>            
                        @Html.TextBoxFor(modelItem => item.Birthday_Jewish, new { disabled = "disabled" })
                        @Html.ValidationMessageFor(modelItem => item.Birthday_Jewish)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday_Greg)    
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.Age, new { disabled = "disabled" })
                        @Html.ValidationMessageFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.Comments, new { disabled = "disabled" })
                        @Html.ValidationMessageFor(modelItem => item.Comments)
                    </td>
                    <td class="delete-member">
                        @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                        <a href='' onclick="return false;" itemid="@item._id" class="ico-font-con icon-delete-child"></a>
                    </td>

                </tr>

            }

            </table>
        </td>
    </tr>
</table>